body{
    background-image: url(bg1.png);
    background-attachment: fixed;
    height: 100vh;
    width: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
.navbar{
    background-color: rgba(245, 245, 245, 0.566);
    border-radius: 0 0 10px 10px;
  }
a{
    font-weight: bold;
    font-size: 15px;
  }
  #box{
    position:relative;
    left:50%;
    transform:translate(-50%);
    width: 90%;
    padding-bottom: 15px;
    border-radius: 25px;
    margin-top: 2cm;
    background-color: rgba(245, 245, 245, 0.877);
    text-align: center;
    padding-top: 15px;
 }
 .dropdown-menu{
    background-color: rgba(245, 245, 245, 0.566);
    border-radius: 10px;
  }
  .dropdown{
    margin-right:100px;
  }
  button:hover{
    background-color: antiquewhite;
    border-radius: 50px;
  }
  .navbar-toggler{
    border:none;
  }
  #votingbutton{
    width: 70%;
    padding: .5cm;
    /* margin-top: 1cm; */
    border:none;
    border-radius: 25px;
    /* font-weight: bold; */
    font-size: 25px;
    margin-bottom: 1cm;
  }
  #hidden{
    visibility:hidden;
  }
  footer{
    width: 100%;
    margin: 0;
   }
   #Contact_Us{
    width:100%; 
    background-color: rgba(245, 245, 245, 0.877);
    position: relative;
    bottom: 0;
    margin-top: 50px;
    border-radius: 25px 25px 0 0 ;
    text-align: center;
    padding: 20px;
   }
   #Contact_Us .container1{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
   }
   #Contact_Us img{
    margin: 0 10px;
    width:40px;
   }
   #About{
    background-color: rgba(245, 245, 245, 0.877);
    padding: 20px;
    text-align: center;
   }
   #About p{
    width: 60%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 20px;
   }
   #flex2 ul{
    text-align: left ;
   }
   #flex2{
    display: flex;
    justify-content: space-around;
   }
   @media screen and (max-width:420px){
    #Contact_Us h1{
      font-size: 30px;
    }
    #Contact_Us p{
      font-size: 17px;
    }
    #Abouthead{
      font-size: 30px;
    }
    #About p{
      font-size: 17px;
      width: 90%;
    }
    #techfont{
      font-size: 30px;
    }
    #flex2 h3{
      font-size: 20px;
    }
  }